@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@layer base {
    [x-cloak] {
        display: none !important;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="url"],
    input[type="email"],
    select,
    textarea {
        @apply mt-1.5 block w-full px-3 py-2.5 border rounded-lg appearance-none focus:outline-none
           text-gray-800 placeholder-gray-400 border-gray-300 shadow-sm
         focus:border-sky-500 focus:ring-sky-500
           disabled:bg-gray-50 disabled:text-gray-400;
    }

    input[type="checkbox"] {
        @apply border-gray-300 rounded text-sky-600 focus:ring-sky-500;
    }

    label {
        @apply block font-medium text-gray-700;
    }
}

@layer components {
    .btn {
        @apply inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-medium transition-all duration-200 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    .btn-primary {
        @apply font-semibold text-white focus:outline-none bg-gradient-to-r from-sky-500 to-teal-500 hover:from-sky-600 hover:to-teal-600;
    }

    .btn-gray {
        @apply text-white bg-gray-800 hover:bg-gray-900 focus:ring-gray-300;
    }

    .btn-success {
        @apply font-semibold text-white transition-all duration-200 focus:outline-none bg-gradient-to-r from-emerald-500 to-emerald-700 hover:from-emerald-600 hover:to-emerald-800;
    }

     .btn-gray {
        @apply font-semibold text-white transition-all duration-200 focus:outline-none bg-gradient-to-r from-gray-700 to-gray-900;
    }
}
